/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Common Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
}

header {
    background-color: transparent; /* Make the header background transparent */
    color: rgb(10, 0, 0);
    margin-top: 20%; /* Adjust the margin-top with percentage */
    padding: 2%; /* Adjust padding with percentage */
    text-align: center;
    position: relative; /* Add this for positioning */
    z-index: 1; /* Ensure the header stays on top of other elements */
}

/* Style for the about navbar */
.nav-about {
    background-color: transparent; /* Make the navbar invisible */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    z-index: 2; /* Ensure the navbar stays on top of other elements */
}

.nav-about ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use flexbox to align the items horizontally */
}

.nav-about li {
    margin-right: 15%;
    margin-top: -150%;
}

.nav-about a {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 4% 3%; /* Adjust padding to make the buttons bigger or smaller */
    border-radius: 15 px;
    border-color: #0a0000;
    color: rgb(255, 255, 255);
    font-size: 130%; /* Adjust font size to make the text bigger or smaller */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}



/* Style for the index navbar */
.nav-index {
    background-color: transparent; /* Make the navbar invisible */
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); /* Center horizontally and vertically */
    z-index: 2; /* Ensure the navbar stays on top of other elements */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0%;
    margin-left: 37%;
}

nav ul li {
    display: inline;
    margin-left: 2%; /* Adjust the margin value for equal spacing between buttons */
}

/* Style for navbar links */
nav a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 1% 1%; /* Adjust padding with percentage */
    background-color: rgb(0, 0, 0); /* Set the background color to white */
    border-radius: 15px; /* Add rounded corners */
    border-color: #0a0000;
    color: rgb(12, 0, 0);
    transition: transform 0.5s ease;
}
nav a:hover {
    transform: scale(1.); /* Scale the link to 110% of its initial size */
}

/* Page Styles */
.page {
    height: 100vh; /* Set the height to 100vh to cover the entire viewport */
    padding: 0; /* Remove padding to eliminate space */
    text-align: center;
    color: #0a0000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; /* Add this for positioning */
    z-index: 0; /* Ensure the page content stays below the navbar */
}

/* Main Heading Style */
h1 {
    font-size: 3vw; /* Adjust font size with vw unit */
    margin: 0; /* Remove margin to eliminate space */
}

/* Section Heading Style */
h2 {
    font-size: 2vw; /* Adjust font size with vw unit */
    margin-bottom: 2%; /* Adjust margin with percentage */
}

/* Paragraph Style */
p {
    font-size: 1.5vw; /* Adjust font size with vw unit */
}

/* Add styles for the image */
.image-class {
    width: 100%; /* Ensure the image covers the entire viewport width */
    height: 100%; /* Ensure the image covers the entire viewport height */
    position: fixed; /* Position the image as a background */
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind the content */
}

.team {
    color: aliceblue;
    margin-top: -2%; /* Adjust margin with percentage */
}

/* Planet Styles */
.planetssun {
    position: relative;
    width: 45%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: -25%; /* Adjust margin-left with percentage */
    margin-top: -15%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease
}

.planetsmerc {
    position: absolute;
    width: 7%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: -3%; /* Adjust margin-left to create spacing */
    margin-top: 5%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease
}
.planetsven {
    position: absolute;
    width: 12%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 4%; /* Adjust margin-left to create spacing */
    margin-top: 2%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease

}
.planetsgaia {
    position: absolute;
    width: 13%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 15%; /* Adjust margin-left to create spacing */
    margin-top: 1%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease

}

.planetsmars {
    position: absolute;
    width: 14%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 27%; /* Adjust margin-left to create spacing */
    margin-top: 1%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease
}
.planetsjew{
    position: absolute;
    width: 22%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 38%; /* Adjust margin-left to create spacing */
    margin-top: -5%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease

}

.planetssat{
    position: absolute;
    width: 30%; /* Adjust the percentage for the relative width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 55%; /* Adjust margin-left to create spacing */
    margin-top: -3%; /* Adjust margin-top with percentage */
    transition: transform 0.5s ease

}
ul{
    margin:0;
    padding:0;
    display:flex;
  }
  
  ul li{
    list-style:none;
    margin:0 20px;
    transition:0.5s;
  }
  
  ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }
  
  ul:hover li a{
    transform:scale(1.5);
    opacity:0.2;
    filter:blur(5px);
  }
  
  ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#ff497c;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  

.typewriter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3705ea 0%,
    #760aea 29%,
    #139dff 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.form {
margin-top: 15%;;
margin-left: 40%;
}

.formtext {
position: absolute;
margin-left: 36%;
margin-top: -5%;
}

.faces1{
    margin-left: 65%;
    margin-top: -40%;
    position: absolute;
    height: auto;
    width: 30%;
}
.faces2{
    
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
    height: auto;
    width: 30%;
}
.faces3{
    margin-left: 15%;
    margin-top: 10%;
    position: absolute;
    height: auto;
    width: 30%;
}
.faces4{
    margin-left: 65%;
    margin-top: -35%;
    position: absolute;
    height: auto;
    width: 30%;
}
.faces5{
    margin-left: 65%;
    margin-top: -35%;
    position: absolute;
    height: auto;
    width: 30%;
}
.faces6{
    margin-top: -10%;
    position: absolute;
    height: auto;
    width: 30%;
}