<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - About the Team</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        /* Add the hover effect for planet images */
        .planet-hover:hover {
            transform: scale(1.3); /* Scale the planet to 120% of its initial size */
            
}

    </style>
</head>
<body>
    <header>
        <h1></h1>
    </header>
    <!-- Apply the class for the about navbar -->
    <nav class="nav-about">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About the Team</a></li>
            <li><a href="map.html">Map</a></li>
        </ul>
    </nav>
    <!-- Planet images with the hover effect class -->
    <img class="planetssun planet-hover" src="images/580b585b2edbce24c47b270f.png" onclick="scrollToSection('team1')">
    <img class="planetsmerc planet-hover" src="images/mercury (1).png" onclick="scrollToSection('team2')">
    <img class="planetsven planet-hover" src="images/venus.png" onclick="scrollToSection('team3')">
    <img class="planetsgaia planet-hover" src="images/earth.png" onclick="scrollToSection('team4')">
    <img class="planetsmars planet-hover" src="images/mars (1).png" onclick="scrollToSection('team5')">
    <img class="planetsjew planet-hover" src="images/jupiter.png" onclick="scrollToSection('team6')">
    <img class="planetssat planet-hover" src="images/saturn.png" onclick="scrollToSection('team7')"> 

    <!-- Your main content here -->
    <main>
        <section id="team1" class="page">
            <br> </br> 
            <br> </br> 
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">About the Project</h1>
            <p></p>
        </section>

        <section id="team2" class="page">
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">Umayer Khan</h1>
           
            <p></p>
        </section>
        <img src="/src/images/umayer.png" alt="alternative-text" class="faces1">

        <section id="team3" class="page">
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">Jovic Panahon</h1>
            
            <p></p>
            <img src="/src/images/jovic.png" alt="alternative-text" class="faces2">
        </section>

        <section id="team4" class="page">
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">Ahmad Munim</h1>
            
            <p></p>
        
            <img src="/src/images/ahmad.png" alt="alternative-text" class="faces3">
        </section>

        <section id="typewriter" class="page">
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">Rocio Rueda</h1>
            
            <p></p>
        </section>
        <img src="/src/images/rocio.png" alt="alternative-text" class="faces4">

        <section id="typewriter" class="page">
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">Isteyak</h1>
         
            <p></p>
        </section>
        <img src="/src/images/isteyak.png" alt="alternative-text" class="faces5">

        <section id="typewriter" class="page">
            <br> </br> 
            <br> </br> 
            <h1 class="typewriter">Asma Altumi</h1>
            
            <p></p>
        </section>
        <img src="" alt="alternative-text" class="faces6">


    </main>
    
    <!-- Background image -->
    <img src="/src/images/wp7034448-minimalist-universe-wallpapers.png" alt="alternative-text" class="image-class">
    
    <!-- Include any JavaScript or external scripts you need -->
    <script src="preload-images.js"></script>
</body>
</html>


