<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - Landing Page</title>
    {% load static %}

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>What's up with the water?</h1>
    </header>
    <nav>
        <ul class="center-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About the Team</a></li>
            <li><a href="map.html">Marine Data</a></li>
        </ul>
    </nav>
    
    <main>
        <section id="landing" class="page">
            <!-- Remove the content -->
        </section>
    </main>
    <!-- Add the image with the image-class here -->
    <img src="../static/img/lake-minimal-green-4k-c0.jpeg" alt="alternative-text" class="image-class">
    {% load static %}
    <script src="../static/js/preload-images.js"></script>
</body>

</html>
