<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - Map</title>
    {% load static %}

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>What's up with the water?</h1>
    </header>
    <nav class="nav a">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About the Team</a></li>
        </ul>
    </nav>
    <main>
        <section id="map" class="page">
            <h2>Map</h2>
            <p>This is the map page.</p>
        </section>
        <script src="preload-images.js"></script>
</body>

    </main>
</body>
</html>
