<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - Map</title>
    {% load static %}

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>What's up with the water?</h1>
    </header>
    <nav class="nav a">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About the Team</a></li>
            <li><a href="map.html">Map</a></li>
        </ul>
    </nav>
    <main>
        <h1 class = "formtext">Search Example</h1>
    <form class = "form" action="/search" method="GET">
        <input class type="text" name="q" placeholder="Search pls" />
        <button type="submit">Search</button>
    </form>
        <section id="map" class="page">
           
        </section>
        {% load static %}
        <script src="../static/js/preload-images.js"></script>
</body>

    </main>
</body>
</html>
