<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website - Map</title>
    {% load static %}

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Find Marine Data Here</h1>
    </header>
    <nav class="nav a">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About the Team</a></li>
            <li><a href="https://marine-animals-data.streamlit.app/">Species Data</a></li>
            <li><a href="https://water-quality-data.streamlit.app/">Water Data</a></li>
        </ul>
    </nav>
        
    {% load static %}
    <script src="../static/js/preload-images.js"></script>
</body>

    </main>
</body>
</html>
